h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
	margin: 0;
	padding: 0;
}

:root {
	--primary-text-color: #757575;
	--title-text-color: #212121;
	--accent-color: #2196F3;
	--background-color: #F5F5F5;
	--background-team-color: #F5F4FA;
	--footer-background-color: #2F303A;
	--contact-color: #757575;
	--white-color: #ffffff;
	--footer-contact-color: rgba(255, 255, 255, 0.6);
	--logo-color-black: #000000;
}


body {
	font-family: 'Roboto', sans-serif;
	color: var(--primary-text-color);
	background-color: var(--white-color);
	font-size: 14px;
	letter-spacing: 0.03em;
}

/* hover focus */
.active:focus,
.active:hover {
	color: var(--accent-color);
}

.hero .button:focus,
.hero .button:hover {
	color: var(--footer-background-color);
}

.button {
	font-family: inherit;
	border: none;
	cursor: pointer;
	display: inline-block;
}

.button:hover,
.button:focus {
	background: var(--accent-color);
	color: var(--white-color);
}

.active {
	border-radius: 4px;
	color: var(--title-text-color);
}

.search-form .active:hover,
.search-form .active:focus {
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* visually-hidden */
.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

/* Nav */
.logo {
	color: var(--logo-color-black);
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	text-decoration: none;
	display: flex;
	align-items: center;
}

.main-nav {
	display: flex;
}

.nav-container {
	display: flex;
	align-items: center;
}

.link {
	padding-top: 32px;
	padding-bottom: 32px;
	display: block;

	color: var(--title-text-color);
	text-decoration: none;

}

.social-links .link.current {
	color: var(--accent-color);
}

.address-logo {
	color: var(--white-color);
}

.text-logo {
	color: var(--accent-color);
}

.social-links {
	font-weight: 500;
	line-height: 1.14;
	letter-spacing: 0.02em;
	list-style: none;
	display: flex;
	margin-left: 93px;
}

.side-nav-item {}

.social-links .side-nav-item:not(:last-child) {
	margin-right: 40px;
}

.contacts .side-nav-contact:not(:last-child) {
	margin-right: 50px;
}

.contacts {
	list-style: none;
	display: flex;
	margin-left: auto;
}

.contact {
	font-weight: 500;
	line-height: 1.14;
	letter-spacing: 0.02em;
	color: var(--contact-color);
	text-decoration: none;
}

/* Main */
.main-btn {
	padding: 10px 32px;
	min-width: 216px;
	text-align: center;
}

.title-text {
	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	color: var(--white-color);
	margin-bottom: 30px;
	max-width: 696px;
	margin: 0 auto 30px;
}

.hero {

	background-color: var(--footer-background-color);
	text-align: center;
}


.hero .button {
	font-weight: 700;
	font-size: 16px;
	line-height: 1.88;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	text-decoration: none;
	background-color: var(--accent-color);
	color: var(--white-color);
}



/* Section Features */
.features-list {
	list-style: none;
	display: flex;
	justify-content: center;
}

.features-list .list {
	max-width: 270px;
}

.features-list .list:not(:last-child) {
	margin-right: 30px;
}

.features-title {
	font-weight: 700;
	line-height: 1.14;
	text-transform: uppercase;
	color: var(--title-text-color);
	margin-bottom: 10px;

}


.features-subtitle {
	line-height: 1.71;
	padding: 0;
}

/* work-list  team-list */
.work-list-colum {
	list-style: none;
	display: flex;
	justify-content: space-between;
}

.team-card-list .img-list {
	display: block;
}
.work-list-colum .img-list {
	display: block;
}
.img-list {
	display: inline;
}

.title-head {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.16;
	color: var(--title-text-color);
	margin-bottom: 50px;
}


/* team-list */

.team-list {
	color: var(--background-team-color);
}

.team-card-list {
	background: var(--white-color);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
	list-style: none;
}

.team-subtitle {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.18;
	text-align: center;
	color: var(--title-text-color);
}

.team-card-indent {
	font-size: 16px;
	line-height: 1.18;
	text-align: center;
	color: var(--primary-text-color);

}

/* Footer */
.addres-list-colum {
	list-style: none;
}

.footer-list {
	background-color: var(--footer-background-color);
}

.address-list {
	font-style: normal;
}

.address-map {
	line-height: 1.71;
	color: var(--white-color);
	text-decoration: none;
}

.footer-contact {
	line-height: 1.71;
	text-decoration: none;
	color: var(--footer-contact-color);
	text-decoration: none;
}

/* portfolio */

/* link-stile */
.post-content-link {
	text-decoration: none;
}

.post-content-link .post-title {
	color: var(--primary-text-color);
}

/* search */
.search-form {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.62;
	list-style: none;
}

/* contents */
.post-content {
	background-color: var(--white-color);
	list-style: none;
}

.post-subtitle {
	color: var(--title-text-color);
}

.post-title {
	font-size: 16px;
	line-height: 1.88;
}

/* div container, section */
.container {
	width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
	align-items: center;
	/* display: flex; */
}

.section {
	padding: 94px 0;


}

/* .flx {
	display: flex;
	align-items: center;
	margin: auto;
} */